.stfolder
.stignore
FlaxEngine/Binaries
FlaxEngine/Cache
FlaxEngine/Logs
FlaxEngine/.vs
FlaxEngine/.vscode
FlaxEngine/.github
SpaceRiskGame/Binaries
SpaceRiskGame/Cache
SpaceRiskGame/Logs
SpaceRiskGame/.vs
SpaceRiskGame/.vscode
SpaceRiskGame/.github
SpaceRiskGame/Output
Thirdparty/SteamWorks/.vs
Thirdparty/SteamWorks/.vscode
Thirdparty/SteamWorks/.github
Thirdparty/SteamWorks/Content
Thirdparty/SteamWorks/Binaries
Thirdparty/SteamWorks/Cache
Thirdparty/SteamWorks/Logs
Thirdparty/GameAnalytics/.vs
Thirdparty/GameAnalytics/.vscode
Thirdparty/GameAnalytics/.github
Thirdparty/GameAnalytics/Content
Thirdparty/GameAnalytics/Binaries
Thirdparty/GameAnalytics/Cache
Thirdparty/GameAnalytics/Logs
Thirdparty/RmlUi/.vs
Thirdparty/RmlUi/.vscode
Thirdparty/RmlUi/.github
Thirdparty/RmlUi/Content
Thirdparty/RmlUi/Binaries
Thirdparty/RmlUi/Cache
Thirdparty/RmlUi/Logs
SpaceBuild
SpaceVS
Misc